@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  background-color: #f9fafc;
}



* {
  box-sizing: border-box;
}
.main-card {
  background: rgb(3, 1, 52);
  background: linear-gradient(90deg, rgba(3, 1, 52, 1) 0%, rgba(3, 1, 52, 1) 44%, rgba(62, 5, 107, 1) 100%, rgba(75, 13, 98, 1) 100%, rgba(2, 6, 27, 1) 100%);
}
.title{
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.3em;
  letter-spacing: -.0125em;
}
.card-h-text{
  color: #191c1f;
}
.user-color{
  color: #a3a3a3;
}

